.article {
  background-color: #F3F3F3;
  padding: 100px 0 10px 0;
}

.article-card {
  border-radius: 15px;
  width: 70%;
  margin: 0 auto 120px auto;
  background-color: white;
  padding: 0 0 70px 0;
}

.article-contents {
  padding: 70px 70px 0 70px;
}

.artcle-title {
  font-size: 2.2em;
  font-weight: bold;
}

.updated-date {
  color: #434343;
}
